@page "/"

<PageTitle>Доброга</PageTitle>

<a href="/saledocs"><h3>Контроль входящих документов</h3></a>

<h4>Краткая инструкция</h4>

<p>
    Главная страница состоит из четырех колонок кеарточек. Зеленые - свежие, красные те, которым более пяти дней.
</p>
<p>
    Колонка "К отправке" - сюда попадают отгруженные Реализации с типом очереди "Собственная доставка".
</p>
<p>
    Позиции "Операторы РЦ", "Менеджеры", "Бухгалтерия к приемке" - то, где документ находится на проверке.
</p>
<p>
    Что бы открыть документ нужно просканировать УПД сканером штрих кода.
</p>
<div>
    <img src="/img/снимок экрана 2025-08-29 162659.png" class="img-fluid w-50" />
</div>
<p class="mt-3">
    При открытии документа Оператором РЦ, в случае корректности документа, можно отправить "В Бухгалтерию к приемке" или указать ошибки и отправить "Менеджерам на доработку"
</p>
<div class="row border">
    <div class="col-5"><img src="/img/снимок экрана 2025-08-29 165047.png" class="img-fluid w-auto" /></div>
    <div class="col-5"><img src="/img/снимок экрана 2025-08-29 165219.png" class="img-fluid w-auto" /></div>
</div>
<p class="mt-3">
    Менеджер, открыв документ и перепечатав УПД в 1С, может снять все ошибки, выбрав галку "Документ Перепечатан", 
    тогда красное сообщение "Требуется перепечатка" изменится на зеленое "Корректен" и галка станет кнопкой "К повторной отправке". 
    Нажатие на кнопку отправит документ опять в первую колонку.
</p>
<div class="row border">
    <div class="col-5"><img src="/img/снимок экрана 2025-08-29 170507.png" class="img-fluid w-auto" /></div>
    <div class="col-5"><img src="/img/снимок экрана 2025-08-29 170847.png" class="img-fluid w-auto" /></div>
</div>
<p class="mt-3">
    Бухгалтер, открыв документ, может, обнаружив ошибки, отправить Менеджерам на очередную перепечатку или "Принять" (кнопкой или клавишей Enter)
</p>
<p>
    Ссылка "История" ведет на страницу с информацией кто, когда и в каком статусе переключил карточку. 
</p>
<div class="row border">
    <div class="col-5"><img src="/img/снимок экрана 2025-08-29 172425.png" class="img-fluid w-75" /></div>
    <div class="col-5"><img src="/img/снимок экрана 2025-08-29 172458.png" class="img-fluid w-auto" /></div>
</div>
<p class="mt-2">
    А ссылка "Детали" в таблице истории ведет к информации какие конкретно ошибки были в той версии карточки.
</p>
<div class="row border">
    <div class="col"><img src="/img/снимок экрана 2025-08-29 172549.png" class="img-fluid w-auto" /></div>
</div>