@using ShippingDocuments.Application
@using ShippingDocuments.Common
@using ShippingDocuments.Domain

<div class="card me-2" style="min-width: 280px;">
    <div class="card-header sticky-top z-1">
        <div class="h5 text-center mt-2">
            <span>@Name</span>
            <span class="badge bg-info rounded-pill">@(SaleDocs?.Count ?? 0)</span>
        </div>
    </div> @if (SaleDocs is not null)
        {
        <div class="card-body overflow-auto" style="height: calc(100vh - 150px);">
            @foreach (var item in SaleDocs)
            {
                var overdueClass = item.IsOverdue ? "danger" : "success";
                <div class="alert alert-@overdueClass p-1 mb-1">
                    <a class="btn" href="/saledocs/edit?Id=@item.Id">
                        <div class="row">
                            <div class="col">@item.Number</div>
                            <div class="col">@item.ShortDate</div>
                        </div>
                    </a>
                </div>
            }
        </div>
    }
</div>

@code {
    [Parameter]
    public List<SaleDoc>? SaleDocs { get; set; }

    [Parameter]
    public string Name { get; set; } = string.Empty;
}