@page "/saledocs/edit"

@using Microsoft.AspNetCore.Authorization
@using ShippingDocuments.Application
@using ShippingDocuments.Common
@using ShippingDocuments.Domain
@using ShippingDocuments.Infrastructure.OData
@using ShippingDocuments.Infrastructure.OData.Models
@using static ShippingDocuments.Components.Pages.SaleDocPages.PaperworkErrorCheckBox
@using static ShippingDocuments.Components.Pages.SaleDocPages.QuantityErrors

@inject ISaleDocService SaleDocService
@inject NavigationManager NavigationManager
@inject IODataService ODataService

@attribute [Authorize]

@if (SaleDoc is null)
{
    <div class="d-flex justify-content-center">
        <div class="spinner-grow" role="status" style="width: 3rem; height: 3rem;">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else
{
    <EditForm method="post" Model="SaleDoc" OnSubmit="UpdateSaleDoc" FormName="updateSaleDoc" Enhance>
        <div class="card">
            <div class="card-header">
                <SaleDocHeader SaleDoc="SaleDoc" />

                <InfoAndButtons SaleDoc="SaleDoc"
                                RemovePaperworkErrors="ClearPaperworkErrors"
                                RemoveQuantityErrors="ClearQuantityErrors" />

            </div>
            <div class="card-body">
                <PaperworkErrors SaleDoc="SaleDoc"
                                 OnCreateOrUpdateError="CreateOrUpdatePaperworkError" />

                <QuantityErrors SaleDoc="SaleDoc"
                                Products="products"
                                OnCreateOrUpdateError="CreateOrUpdateQuantityError"
                                OnRemoveError="RemoveQuantityError" />
            </div>
        </div>
    </EditForm>
}

@code {
    [SupplyParameterFromQuery]
    public Guid Id { get; set; }

    [SupplyParameterFromForm]
    private SaleDoc? SaleDoc { get; set; } = new();

    private Document_РеализацияТоваровУслуг_Товары[]? products;

    protected override async Task OnInitializedAsync()
    {
        await LoadSaleDoc();
        await LoadProducts();
    }

    private async Task LoadSaleDoc()
    {
        SaleDoc = await SaleDocService.Get(Id);

        await SetPosition();
    }

    private async Task SetPosition()
    {
        if (SaleDoc == null || SaleDoc.Position != Position.ForDispatch)
            return;

        SaleDoc.Position = Position.Operators;

        await SaleDocService.UpdateAsync(SaleDoc);
    }

    private async Task LoadProducts()
    {
        products = await ODataService.GetDocument_РеализацияТоваровУслуг_Товары(Id.ToString());
    }

    private async Task UpdateSaleDoc(EditContext args)
    {
        UpdatePosition();

        await SaleDocService.UpdateAsync((SaleDoc)args.Model);

        NavigationManager.NavigateTo("saledocs");
    }

    private void UpdatePosition()
    {
        if (SaleDoc == null)
            return;

        switch (SaleDoc.Position)
        {
            case Position.Operators:
                if (SaleDoc.IsCorrect)
                    SaleDoc.Position = Position.Accounting;
                else
                    SaleDoc.Position = Position.Managers;
                break;
            case Position.Managers:
                if (SaleDoc.IsCorrect)
                {
                    SaleDoc.Position = Position.ForDispatch;
                    SaleDoc.Redispatch++;
                }
                break;
            case Position.Accounting:
                if (SaleDoc.IsCorrect)
                    SaleDoc.Position = Position.Closed;
                else
                    SaleDoc.Position = Position.Managers;
                break;
        }
    }

    private void CreateOrUpdatePaperworkError(ErrorCheckBoxParams paperworkErrorCheckBoxParams)
    {
        if (SaleDoc is null)
            return;

        SaleDoc.PaperworkErrors ??= [];

        var paperworkError = SaleDoc.PaperworkErrors.FirstOrDefault(e => e.Type == paperworkErrorCheckBoxParams.ErrorType);

        if (paperworkError is null && paperworkErrorCheckBoxParams.IsChecked)
        {
            paperworkError = new() { SaleDocId = SaleDoc.Id, Type = paperworkErrorCheckBoxParams.ErrorType };

            SaleDoc.PaperworkErrors.Add(paperworkError);
        }
        if (paperworkError is not null && !paperworkErrorCheckBoxParams.IsChecked)
        {
            SaleDoc.PaperworkErrors.Remove(paperworkError);
        }
    }

    private void ClearPaperworkErrors()
    {
        SaleDoc?.PaperworkErrors?.Clear();
    }

    private void CreateOrUpdateQuantityError(QuantityErrorParams errorParams)
    {
        if (SaleDoc is null)
            return;

        SaleDoc.QuantityErrors ??= [];

        var error = SaleDoc.QuantityErrors.FirstOrDefault(e => e.LineNumber == errorParams.Product.LineNumber);

        if (error is null)
        {
            error = new QuantityError() { SaleDocId = SaleDoc.Id, LineNumber = errorParams.Product.LineNumber };

            SaleDoc.QuantityErrors.Add(error);
        }

        error.Quantity = errorParams.Quantity;
    }

    private void RemoveQuantityError(Document_РеализацияТоваровУслуг_Товары product)
    {
        var error = SaleDoc?.QuantityErrors?.FirstOrDefault(e => e.LineNumber == product.LineNumber);

        if (error == null)
            return;

        SaleDoc?.QuantityErrors?.Remove(error);
    }

    private void ClearQuantityErrors()
    {
        SaleDoc?.QuantityErrors?.Clear();
    }
}
