@using ShippingDocuments.Application
@using ShippingDocuments.Common
@using ShippingDocuments.Domain
@using ShippingDocuments.Infrastructure.OData.Models

@if (SaleDoc is not null)
{
    <div class="row mt-2">
        <div class="col">
            <span>Позиция: </span><span>@SaleDoc.Position.Description()</span>
        </div>
        <div class="col">
            <span>Статус: </span>
            @if (SaleDoc.IsCorrect)
            {
                <span> Корректен </span>
            }
            @if (SaleDoc.HasPaperworkErrors)
            {
                <span> Требуется перепечатка </span>
            }
            @if (SaleDoc.HasQuantityErrors)
            {
                <span> Требует корректировки состава товаров </span>
            }
        </div>
        <div class="col">
            <span>Количество переотправок: </span><span>@SaleDoc.Redispatch</span>
        </div>
    </div>
}

@code {
    [Parameter]
    public SaleDoc? SaleDoc { get; set; }
}