@using ShippingDocuments.Application
@using ShippingDocuments.Common
@using ShippingDocuments.Domain
@using ShippingDocuments.Infrastructure.OData
@using ShippingDocuments.Infrastructure.OData.Models

@if (SaleDoc is not null)
{
    <h5>
        <span>@Document_–еализаци€“оваров”слуг.DocumentName</span>
        <span>@SaleDoc.Number</span>
        <span> от </span>
        <span>@SaleDoc.Date</span>
    </h5>
}

@code {
    [Parameter]
    public SaleDoc? SaleDoc { get; set; }
}